.image-container {
    position: relative;
    overflow: hidden;
    height: 320px;
    margin: 12px 0;
}

.image-container img {
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: auto;
}

.image-inner-data {
    position: absolute;
    top: 10px;
}

@media only screen and (max-width: 650px) {
    .image-container {
        max-height: 320px;
        height: 100%;
    }
}